<div style="padding: 10rem; text-align: center; background-color: darkred; height: 100%">
  <div style="justify-content: space-evenly;">

    <p class="projecttitle" >
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    
    <p class="projectabstract" >
    <strong>Abstract:</strong>
    <%= @project.abstract %>
    </p>
    
    <p class="projectdescription">
    <strong>Description:</strong>
    <%= @project.description %>
    </p>

    <p id="notice"><%= notice %></p>
    
    <div class="verticalflip">
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>